body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --gray: #323233;
  --border: 0.75px solid #585858;
  --placeHolderColor: rgb(179, 179, 179);
  --blue: #0078D7;
  --blueHovered: #0065b3;
  --bluePressed: scale(.975);
}

* {
  box-sizing: border-box;
}

/* SCROLLBARS */

::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  background: #222;
  cursor: default;
}
::-webkit-scrollbar-thumb {
  background: #555;
  cursor: default;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
::-webkit-scrollbar-thumb:active {
  background: #999;
}
::-webkit-scrollbar-corner {
  background: #222;
  cursor: default;
}
::-webkit-scrollbar-button {
  /* background: #323232; */
  background: #333;
  cursor: default;
}
::-webkit-scrollbar-button:hover {
  background: #777;
}
::-webkit-scrollbar-button:active {
  background: #999;
}

/* END SCROLLBARS */

::selection {
  color: black;
  background: white;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.Arrow {
  width: 11px;
  height: 11px;
  fill: white;
}

.ArrowContainer:hover .Arrow {
  fill: #3298fe;
}

.ArrowContainer:active .Arrow {
  fill: #3674b2;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeHolderColor);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeHolderColor);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeHolderColor);
}


