body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --gray: #323233;
  --border: 0.75px solid #585858;
  --placeHolderColor: rgb(179, 179, 179);
  --blue: #0078d7;
  --blueHovered: #0065b3;
  --bluePressed: scale(0.975);
}

* {
  box-sizing: border-box;
}

/* SCROLLBARS */

::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  background: #222;
  cursor: default;
}
::-webkit-scrollbar-thumb {
  background: #555;
  cursor: default;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
::-webkit-scrollbar-thumb:active {
  background: #999;
}
::-webkit-scrollbar-corner {
  background: #222;
  cursor: default;
}
::-webkit-scrollbar-button {
  /* background: #323232; */
  background: #333;
  cursor: default;
}
::-webkit-scrollbar-button:hover {
  background: #777;
}
::-webkit-scrollbar-button:active {
  background: #999;
}

/* END SCROLLBARS */

::selection {
  color: black;
  background: white;
}

.Show ::selection {
  color: white;
  background: rgb(90, 161, 255);
}

.Arrow {
  width: 11px;
  height: 11px;
  fill: white;
}

.Show .Arrow {
  fill: rgb(82, 82, 82);
}

.ArrowContainer:hover .Arrow {
  fill: #3298fe;
}

.ArrowContainer:active .Arrow {
  fill: #3674b2;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeHolderColor);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeHolderColor);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeHolderColor);
}

/* SPINNER */

.spinner-border {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  border: 2px solid;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: spinner-border 0.5s linear infinite;
}

@keyframes spinner-border {
  100% {
    transform: rotate(1turn);
  }
}

.Show {
  opacity: 1;
}

.Hidden {
  pointer-events: none;
  opacity: 0;
}

.Notification {
  background-color: var(--blue);
  color: white;
  border: 1px solid var(--blueHovered);
}
